

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica
}

body {
    background:whitesmoke;
}

a:link{
    color: chocolate
}

a:visited {
    color:rgb(31, 158, 63);
}

a:hover {
    text-decoration: chartreuse;
    border-bottom: 2px solid white;
    background: red ;
    transform: translateX(8px); 
    display: inline-block; 
    transition: all .55s ease;
    border-radius: 20px;
   
}


#big {
    color: blue;
    font-size: 125%;
}
.nav-list {
    display: flex;

}
.nav-list a{
    display: inline-block;
    margin-left: auto;
    font-size: 10px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    border-radius: 20px;
    padding: 12px 25px;
    border: 1px solid ;
  
}
.nav-list a:hover{
    border-bottom: 2px solid ;
    background: transparent;
    transform: translateX(8px);
}
