
.img-wolf{
    width: 100%;
   
}

.guinea{
    width: 100%;

}

body{
    color: rgb(64, 13, 111);
    background-image: url(images/paisley.jpg);
}

.wild{
    width: 100%;
}

h1{
    color: rgb(226, 43, 43);
}
