h1 {
    color: lightblue;
    font-size: 150%;
    text-align: center;   
}

p,
li {
    color: rgb(103, 194, 185);
}

h2 {
    color: coral
}

h3 {
    color: blue;
}

h4 {
    color: coral;
    font-size: 150%;
}

h5 {
    color: rgba(69, 171, 88, 0.866);
    font-size: 120%;
}

body {
    font-family: Arial, Helvetica, sans-serif
    
}

a:link{
    color:rgb(92, 174, 60)
}

a:visited {
    color:rgb(31, 158, 63);
}

a:hover {
    text-decoration: chartreuse;
}

.special {
    color:chartreuse
}

#big {
    color: blue;
    font-size: 125%;
}

