
.img-wolf{
    width: auto;
    height: 165px;
   
}

.guinea{
    width: auto;
    height: 165px;


}

body{
    color: rgb(64, 13, 111);
    background-color: wheat;
}

.wild{
    width: auto;
    height: 200px;

}

h1{
    color: rgb(226, 43, 43);
}

