.content-table{
    width: 100%;
}
.content-table,th,td {
    border:1px solid black;
    border-collapse: collapse;
}
img {
    height: 40px;
    width: 70px;
}

.body-tiers {
    background-color: lightblue;
    color: brown;
}
.tiersfooter {
    text-align: center;
}

.info-footer {
    text-align: center;
}